/*
    ttf = TrueTypeFont = Antiguo
    otf = OpenTypeFont = Nuevo
    woff = en desusp.
*/
@font-face{
    font-family:"Amoria";
    src:url("AMORIA.otf");
}
h1{
    color:crimson;
    font-size: 50px;
    font-family: Amoria;
    text-align: center;
}
h2,h3{
    color:crimson;
    font-family:Amoria;
    font-size:35px;
    text-align: center;
}
body{
    background:cornsilk;
    font-size: 18px ;
}
header,main,footer{
    width:600px; /*Establece la anchura de los elementos*/
    background:rosybrown; /*Establece el fondo de los elementos*/
    margin:auto; /*Céntralo en pantalla*/
    padding:15px; /* Pon un poco de margen inferior */
}
nav ul{
    list-style-type: none; /*Anula estilos de lista*/
    margin: 0px;/*anula el margen exterior por defecto*/
    padding: 0px;/*Anula el margen interior por defecto*/
    display: flex;
    gap: 10px;
    justify-content:center; /*Centrar los elementos de menú*/
}
nav ul li a{
    text-decoration: none; /*Anula los estilos de subrayado*/
    color: inherit; /*El color que va a tener*/
    color: white;/*Color de las letras*/
    background: rosybrown;/*Color de fondo*/
    padding: 5px;
    font-size: 10px; /*Tamaño de la fuente*/
    text-transform:uppercase; /*Texto en mayúsculas*/
    display:block;/*Permito a los elementos que sean bloques*/
    width:60px;/*Su anchura es de x píxeles*/
    text-align:center;/*Alineo el texto al centro*/
}
#inicio img{
    width: 100%;
}
.bloque{
    display:flex;
    gap: 20px;;
}
.bloque img{
    flex:1; /**/
    width: 50px; /**/
    height: 50%; /**/
}
.bloque p{
    flex: 1; /**/
    font-size: 10px; /**/
    text-align: justify; /**/
}
#desarrollo .bloque{
    flex-direction: row-reverse; /*invertimos el orden*/
}
#contenedorportfolio{
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
#contenedorportfolio img{
    width: 100%; /*Quiero que la imagen no desborde*/
}
iframe{
    flex:1;
}
form{
    display:flex;
    flex-direction: column;
}