/*FUENTES*/
@font-face {
    font-family: "pixelmax_hueco";
    src: url(Pixelmax-Outline.otf);
}
@font-face {
    font-family: "pixelmax";
    src: url(Pixelmax-Regular.otf);
}
@font-face {
    font-family: "pixel_botones";
    src: url(dogicapixel.otf);
}
@font-face {
    font-family: pixel_texto ;
    src: url(Pixellari.ttf);
}

header,main,footer{
    width:800px; /*Establece la anchura de los elementos*/
    background:lightgoldenrodyellow; /*Establece el fondo de los elementos*/
    margin:auto; /*Céntralo en pantalla*/
    padding:15px; /* Pon un poco de margen inferior */
}
/*FONDO*/
body{
    background-image: url(https://i.pinimg.com/originals/9d/64/03/9d640388f67c6debf1f1fb5b40f8c990.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-size: 18px;
    font-family: pixel_texto;
}

h1{
    color:lightcoral;
    font-size: 50px;
    font-family: pixelmax_hueco;
    text-align: center;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 10px;
    justify-content: center;
    
}
nav ul li a{
    text-decoration: none;
    color: lightgreen;
    font-family: pixel_botones;
    background-color: darkolivegreen;
    padding: 5px;
    font-size: 10px;
    
}
h2,h3{
    color: lightcoral;
    font-family:pixelmax;
    font-size: 35px;
    text-align: center;
}
#aprendizaje {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}
#aprendizaje .bloque {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.25s ease, 
              box-shadow 0.25s ease,
              background 0.25s ease;}
#inicio{text-align: center;}
#sobremi{text-align: center;}
#aprendizaje img{width: 120px;height: auto;}
#proyectos img{width: 120px;height: auto;}
form{display: flex;flex-direction: column;}
footer{text-align: center;}